<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head(title)">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title th:replace="${title}">博客详情</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" th:href="@{/css/me.css}" />
    <link rel="stylesheet" th:href="@{/lib/editormd/css/editormd.css}" />
</head>
<body>
<!-- 导航 -->
<nav th:fragment="nav_menu(index)" class="ui inverted  attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">后台管理</h2>
            <a th:href="@{/admin/blog}" class="m-item item m-mobile-hide" th:classappend="${index==1} ? 'active'"><i class="home icon"></i>博客</a>
            <a th:href="@{/admin/types}" class="m-item item m-mobile-hide" th:classappend="${index==2} ? 'active'"><i class="idea icon"></i>分类</a>
            <a th:href="@{/admin/tags}" class="m-item item m-mobile-hide" th:classappend="${index==3} ? 'active'"><i class="tags icon"></i>标签</a>
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img class="ui avatar image" th:src="@{${session.user.avatar}}" />
                        <span th:text="${session.user.nick_name}"></span>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a th:href="@{/admin/logout}" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<footer th:fragment="footer" class="ui inverted  vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted  divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img th:src="@{/images/erweima.jpg}" class="ui rounded image" alt="" style="width: 110px;"/>
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="" class="item"></i>用户故事(User Story)</a>
                    <a href="" class="item"></i>关于我</a>
                    <a href="" class="item"></i>关于我</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">联系我们</h4>
                <div class="ui inverted link list">
                    <a href="" class="item">Email: 649946725@qq.com</a>
                    <a href="" class="item"></i>QQ: 649946725</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">Blog</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">
                    这是我的个人博客，会分享我关于编程，写作，思考相关的任何内容，希望可以给来到这儿的每个人有所帮助...</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyight @ 2020 - 2021</p>
    </div>

</footer>
<th:block th:fragment="script">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script th:src="@{/lib/editormd/editormd.min.js}"></script>
</th:block>
</body>
</html>